<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div id="app">
        <header>
            <nav>
                <router-link to="/home">Home</router-link>
                <ul>
                    <li>
                        <router-link to="/about">About</router-link>
                    </li>
                    <li>
                        <router-link to="/vue-examples">VueJS Examples</router-link>
                    </li>
                </ul>
            </nav>
        </header>

        <router-view></router-view>

    </div>
</body>

</html>